<html>
<head>
    <title>Books</title>
</head>
<body>
    <div class="container">
        {% include "header.html" %}
        <h1 class="text-center">Our Books New</h1>
        <div class="row">
            {% for book in books%}        
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 text-center border">
                <img src="{{book.photo.url}}" height="200"/>
                <h3>{{book.title}}</h3>
                <p>{{book.pub_date}}</td>
                <p>Rs. {{book.price}}</td>
                <p><a href="{{book.link}}" class="btn btn-primary btn-block" target="_blank">Read</a></td>
            </div>
            {% endfor %} 
        </div>
    </div>
</body>
</html>